<%- include("../includes/header") %>

</head>
<body>
    <%- include("../includes/nav-bar") %>
    <div class="p1-container">
        <div class="p1-item">
            <img src="<%= users[0].avatarUrl %>">
        </div>
        <div class="p1-item" id="name-intro">
            <h1><%= users[0].username %></h2>
            <h2><%= users[0].fname %> <%= users[0].lname %></h2>
            <h3>Points Gained</h3>
        </div>
    </div>
    <div class="p2-about">
        <h2>About</h2>
        <p><%= users[0].about %></p>
    </div>
    <div class="p3-blogs">
        <h2 id="created-blogs">Created Blogs</h2>
        <div class="c-container">
            <% for(i in blogs) { %>
                <div class="c-item">
                    <img src="<%= blogs[i].imgUrl %>">
                    <h4><%= blogs[i].title %></h4>
                    <button>Read</button>
                </div>
            <% } %>
        </div>
    </div>
    <button id="edit-profile-btn"><a href="/edit-profile" id="edit-profile-link">Edit Profile</a></button>
</body>
</html>