<%- include("../includes/header") %>
</head>
<body>
    <%- include("../includes/nav-bar") %>
    <div class="c-container">
            <% for(i in categories){ %>
                <div class="c-item">
                    <img src="./images/<%= categories[i] %>.jpg">
                    <h4><%= categories[i] %></h4>
                    <button><a href="/blog-list/<%= categories[i] %>" id="btn-to-link">Explore</a></button>
                </div>
            <% } %>
    </div>
</body>
</html>